# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.05. Применение структурных и паттернов поведения.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\4 семестр\ООП\05. Применение структурных и паттернов поведения\.idea\.idea.05. Применение структурных и паттернов поведения\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
