# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.02. Windows Forms Controls.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\4 семестр\ООП\02. Windows Forms Controls\.idea\.idea.02. Windows Forms Controls\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
