# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.10. Создание WPF приложения управления базой данных.iml
# Datasource local storage ignored files
/../../../../../../../:\4 семестр\ООП\10. Создание WPF приложения управления базой данных\.idea\.idea.10. Создание WPF приложения управления базой данных\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

